<a href="https://colab.research.google.com/github/SudharsanSrinivasan14/CORE-Python-Programs/blob/main/Lists%20from%20Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists from Scratch !!!

In [ ]:
# Creating an empty list called "num"
num = [ ]
# Adding the values inside the list
num = [ 1, 2, 3, 4, 5]
# Printing the list
num

[1, 2, 3, 4, 5]

In [1]:
# Adding the values irrespective of their data type: Integer, String, float.
num = [1, 2, 3, "Sudhan", 4.0, 4/2]
num

[1, 2, 3, 'Sudhan', 4.0, 2.0]

In [ ]:
# Create a list as num
num = [1, 2, 3, 4, 5]
# Use type method by passing the name of the list as an arguement
type(num)

list

In [2]:
# Creating a list called name
name = ["Sudhan", "Nanda", "Prabhu"]
name

['Sudhan', 'Nanda', 'Prabhu']

In [3]:
# Accessing the elements in the list
name[0] # Sudhan

'Sudhan'

In [4]:
# Calculating the length of the list.
len(name)

3

In [5]:
# Calculating the length of individual elements in a list
len(name[0])   # length of "Sudhan" is 6

6

### Assignment operator on Lists

In [6]:
# Creating a list called name
name = ["Sudhan", "Nanda", "Prabhu"]
name

['Sudhan', 'Nanda', 'Prabhu']

In [7]:
# Creating an empty list names
names = []
names

[]

In [8]:
# Using assignment operator on Lists doesn't create a copy.
names = name
# Assigning the old list name to the new list names.
names

['Sudhan', 'Nanda', 'Prabhu']

# Appending two lists to a single list.

In [ ]:
# Creating a new list called Cars
cars = ["Mercedes", "BMW", "Audi"]
cars

['Mercedes', 'BMW', 'Audi']

In [ ]:
# Creating a new list called bikes
bikes = ["Honda", "Yamaha", "Aprilla"]
bikes

['Honda', 'Yamaha', 'Aprilla']

In [ ]:
# Appending both the lists
cars_bikes = cars + bikes
cars_bikes

['Mercedes', 'BMW', 'Audi', 'Honda', 'Yamaha', 'Aprilla']

# Using FOR and IN in lists

In [ ]:
# Creating a list
num = [1, 2, 3, 4, 5]
# Assigning sum to 0
sum = 0
# Using a for loop to iterate over the list
for i in num:
  sum = sum + i
print(sum) # 15

15

# Using IF and IN in lists.

In [ ]:
# Creating a list
num = [1, 2, 3, 4, 5]
if 1 in num:
  print("True")
else:
  print("False")

True

# Range function in Python.

In [ ]:
# Range starts 0 to n-1
for i in range(5):
 print(i)

0
1
2
3
4

# While loop in python

In [ ]:
# Initialisin i to 0
i = 0
while i < 10:
 print(i) # 0–9
 i = i+ 1

0
1
2
3
4
5
6
7
8
9

# List methods.

Below are some of the most common list methods shown with an example.

**a) List append method**

In [9]:
# Creating a new list called name
name = ['Sudhan', 'Nanda']
# Before appending
name

['Sudhan', 'Nanda']

In [10]:
# Using the append operation on the current ("Prabhu") is the value to be appended.
name.append("Prabhu")
# After appending
name

['Sudhan', 'Nanda', 'Prabhu']

**b) List insert method**

In [11]:
# Creating a new list called list
name = ['Sudhan', 'Nanda']
# Before inserting
name

['Sudhan', 'Nanda']

In [12]:
# Insert Operation on the existing list, here the index position is 2.
name.insert(2, "Prabhu")
# After Inserting
name

['Sudhan', 'Nanda', 'Prabhu']

**c) List extend method**

In [13]:
# Creating a new list called name
name = ['Sudhan', 'Nanda']
# Before extending
name

['Sudhan', 'Nanda']

In [14]:
# Using extend but make sure that you put the elements in a []
# Without []
name.extend("Prabhu")
# After extending
name

['Sudhan', 'Nanda', 'P', 'r', 'a', 'b', 'h', 'u']

In [15]:
# After []
name.extend(["Prabhu"])
name

['Sudhan', 'Nanda', 'P', 'r', 'a', 'b', 'h', 'u', 'Prabhu']

**d) List index method**

In [16]:
# Creating a new list called name
name = ['Sudhan', 'Nanda']
# Before indexing
name

['Sudhan', 'Nanda']

In [17]:
# After indexing, type the element that you want to index.
name.index("Nanda")

1

**e) List remove method**

In [19]:
# Creating a new list called name
name = ['Sudhan', 'Nanda']
# Before removing
name

['Sudhan', 'Nanda']

In [20]:
# After removing
name.remove("Nanda")
name

['Sudhan']

**f) List sort method**

In [21]:
# Creating a list called num
num = [1, 4, 5, 2, 3]
# Before sorting
num

[1, 4, 5, 2, 3]

In [22]:
# After sorting
num.sort()
num

[1, 2, 3, 4, 5]

**g) List Reverse method**

In [ ]:
# Creating a list called num
num = [1, 2, 3, 4, 5]
# Before Reversing
num

[1, 2, 3, 4, 5]

In [ ]:
num.reverse()
# After the reverse
num

[5, 4, 3, 2, 1]

**h) List pop method**

In [ ]:
# Creating a list called num
num = [1, 2, 3, 4, 5]
# Before popping
num

[1, 2, 3, 4, 5]

In [ ]:
# After popping
num.pop(1)

2

In [ ]:
num

[1, 3, 4, 5]

# Converting a string to a list

In [23]:
# Creating a String
String = "Sudhan"
String

'Sudhan'

In [24]:
# Checking for the type
type(String)

str

In [25]:
# Using the split method to split the string into a list.
name = list(String.split(" "))
name

['Sudhan']

In [26]:
type(name)

list

## ThankYou.